
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.body::-webkit-scrollbar {
  display: none;
}

:root{
    --principal: #0466C8;
    --azul_claro: #0353A4;
    --azul_mediano: #023E7D;
    --azul_terceario: #002855 ;
    --azul_oscuro: #001233 ;
    --gris_oscuro: #33415C ;
    --gris_mediano: #5C677D ;
    --gris_terceario: #7D8597 ;
    --gris_claro: #979DAC ;
}

.titulo{
  font-size: 45px;
  font-weight: 300;
  line-height: 60px;
}

.texto{
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
}

#hero{
  background-image: url(../rcs/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

#boton{
  background-color: var(--azul_terceario);
  color: white;
  width: 250px;
  height: 60px;
}

.xxx{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  /*background-color: var(--gris_oscuro);*/
  color: var(--gris_oscuro);
  
  margin: 15px;
  height: 200px;
  min-width: 140px;
}
  .xxx h4{
    margin-bottom: 0;
    font-weight: 300;
    text-align: center;
  }
  
  .img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin distorsionarse */
    z-index: -1; /* Envía la imagen hacia atrás */
  }
  
  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Ajusta el color del texto según sea necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    z-index: 1; /* Asegura que el texto esté encima */
  }
  
  /* ANIMACION / EFECTO HOVER AQUI */

.pre-footer{
  background-color: var(--azul_terceario);
  height: auto;
}
  .logos-prefooter{
    height: 100px;
  }
   