@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  body {
    @apply text-white font-light;
  }
}

.section {
  @apply relative h-screen w-full bg-cover bg-center flex flex-col justify-end pb-32 px-8 overflow-x-hidden;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.btn {
  @apply border-2 border-white px-8 py-2 text-sm tracking-wider hover:bg-white hover:text-black transition-colors duration-300;
}

.nav-link {
  @apply text-sm tracking-wider hover:text-gray-300 transition-colors;
}